body {
  background: lightblue url("img_tree.gif") no-repeat fixed center;
}
.📚16-2-1rI2oH {
    background: transparent;
}
div#\35 2370860-63a7-11ed-963e-5d37692479f8 {
    background: #00000042 !important;
}
